<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OOP_PJ_CLIENT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OOP_PJ_CLIENT.Properties.Settings>
            <setting name="ConnetcIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ConnetcPORT" serializeAs="String">
                <value>9000</value>
            </setting>
        </OOP_PJ_CLIENT.Properties.Settings>
    </applicationSettings>
</configuration>